.homepage {
  margin-top: 100px;
}

.move-up {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.move-up:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.move-up:focus,
.move-up:active {
  /* transform: translateZ(4px); */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.move-up:active {
  /* animation: CardClick 0.5s ease-in-out forwards; */
  transform: scale(0.99, 0.99);
}

a:not(.subjects) {
  color: green !important;
}

a:hover:not(.subjects, .nav-brand) {
  color: darkgreen !important;
  text-decoration: underline !important;
}
